@import url("https://fonts.cdnfonts.com/css/product-sans");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change default font */
@layer base {
  html {
    font-family: "Product Sans", system-ui, sans-serif;
  }
}

/* #nav-title {
    font-family: "Product Sans";
} */
